a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: blanchedalmond;
}
.bold {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: 400px;
    padding: 20px;
    line-height: 5px;
}
.container1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: 480px;
    padding: 20px;
    line-height: 5px;
}
.container2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: 500px;
    padding: 20px;
    line-height: 5px;
}
.container3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: 510px;
    padding: 20px;
    line-height: 5px;
}